
@model PersonDetailsViewModel


<div class="container">
    <div class="row">
        <div class="col">
            <p>@Model.Person.Name</p>
        </div>
        <div class="col">
            <p>@Model.Country.Name</p>
        </div>
        <div class="col">
            <p>@Model.City.Name</p>
        </div>
        <div class="col">
            <p>@Model.Person.PhoneNumber</p>
        </div>
        @*<div class="col">
            <a asp-controller="People" asp-action="Remove"
               asp-route-id="@Model.Id">Remove</a>
        </div>*@
    </div>
</div>